body {
  background-color: black;
  color: White;
  family-font: "EB Garamond", sans-serif;
}

main {
  background-color: white;
  color: Black;
  text-align: center;
}

Footer {
  background-color: black;
  text-align: center;
}
