body {
  background-color: black;
  color: white;
  font-family: "EB Garamond", sans-serif;
}

Footer {
  background-color: darkgray;
  Color: white;
  text-align: center;
  font-family: "EB Garamond", sans-serif;
}
