body {
  background-color: rgba(0,0,0,0.8);
  font-family: Arial, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

main {
  background-color: rgba(255,255,255, 0.8);
  color: Black;
  text-align: center;
  size: 500px;
}

h1 {
 font-size: 2em;
 line-height: 1.2;
}

h2 {
 font-size: 1.5em;
 line-height: 1.2;
}

Footer {
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  size: 500px;
  position: bottom;
}
